<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.antono2.vimgui.examples.touch">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
    <uses-feature android:name="android.hardware.vulkan.version"
        android:version="0x00400000" android:required="true" />
    <application android:label="V ImGui Touch Examples" android:hasCode="true"
        android:allowBackup="false" android:extractNativeLibs="true">
        <activity android:name="io.antono2.vimgui.demo.ImGuiActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="vimgui_android_demo" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
